:root {
  /* Colors */
  --primary-clr: hsl(0, 0%, 100%);
  --smoky-black-1: hsla(40, 12%, 5%, 1);
  --smoky-black-2: hsla(30, 8%, 5%, 1);
  --smoky-black-3: hsla(0, 3%, 7%, 1);
  --eerie-black-1: hsla(210, 4%, 9%, 1);
  --eerie-black-2: hsla(210, 4%, 11%, 1);
  --eerie-black-4: hsla(0, 0%, 13%, 1);
  --white: hsla(0, 0%, 100%, 1);
  --white-alpha-20: hsla(0, 0%, 100%, 0.2);
  --white-alpha-10: hsla(0, 0%, 100%, 0.1);
  --black: hsla(0, 0%, 0%, 1);
  --black-alpha-80: hsla(0, 0%, 0%, 0.8);
  --black-alpha-15: hsla(0, 0%, 0%, 0.15);

  --fontSize-headline-1: calc(2rem + 2.5vw);
  --fontSize-headline-2: calc(1.3rem + 2.4vw);
  --fontSize-title-1: calc(1.6rem + 1.2vw);
  --fontSize-title-2: 2.2rem;
  --fontSize-title-3: 2.1rem;
  --fontSize-title-4: calc(1.6rem + 1.2vw);
  --fontSize-body-1: 2.4rem;
  --fontSize-body-2: 1.6rem;
  --fontSize-body-3: 1.8rem;
  --fontSize-body-4: 1.6rem;
  --fontSize-label-1: 1.4rem;
  --fontSize-label-2: 1.2rem;
  
  --weight-regular: 400;
  --weight-bold: 700;

  --lineHeight-1: 1em;
  --lineHeight-2: 1.2em;
  --lineHeight-3: 1.5em;
  --lineHeight-4: 1.6em;
  --lineHeight-5: 1.85em;
  --lineHeight-6: 1.4em;
  
  --letterSpacing-1: 0.15em;
  --letterSpacing-2: 0.4em;
  --letterSpacing-3: 0.2em;
  --letterSpacing-4: 0.3em;
  --letterSpacing-5: 3px;
  
  --section-space: 70px;

  --shadow-1: 0px 0px 25px 0px hsla(0, 0%, 0%, 0.25);

  --radius-24: 24px;
  --radius-circle: 50%;

  --transition-1: 250ms ease;
  --transition-2: 500ms ease;
  --transition-3: 1000ms ease;
}

/* Reset and General */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li { list-style: none; }

a,
img,
data,
span,
input,
button,
select,
ion-icon,
textarea { display: block; }

a {
  color: inherit;
  text-decoration: none;
}

img { height: auto; }

input,
button,
select,
textarea {
  background: none;
  border: none;
  font: inherit;
}

input,
select,
textarea {
  width: 100%;
  outline: none;
}

button { cursor: pointer; }

address { font-style: normal; }

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  background-color: var(--eerie-black-1);
  color: var(--white);
  font-family: 'Montserrat', sans-serif;
  font-size: var(--fontSize-body-4);
  font-weight: var(--weight-regular);
  line-height: var(--lineHeight-5);
}

body.loaded { overflow: overlay; }

body.nav-active { overflow: hidden; }

::-webkit-scrollbar { width: 5px; }

::-webkit-scrollbar-track { background-color: transparent; }

::-webkit-scrollbar-thumb { background-color: var(--primary-clr); }

/* Typography */
.display-1,
.headline-1,
.headline-2,
.title-1,
.title-2,
.title-3,
.title-4 {
  color: var(--white);
  font-family: "Anton SC", sans-serif;
  font-weight: var(--weight-regular);
  line-height: var(--lineHeight-2);
}

.display-1 {
  font-size: calc(2.75rem + 6vw);
  line-height: var(--lineHeight-1);
}

.headline-1 { font-size: var(--fontSize-headline-1); }

.headline-2 {
  font-size: var(--fontSize-headline-2);
  line-height: var(--lineHeight-6);
}

.title-1 { font-size: var(--fontSize-title-1); }

.title-2 { font-size: var(--fontSize-title-2); }

.title-3 { font-size: var(--fontSize-title-3); }

.title-4 { font-size: var(--fontSize-title-4); }

.body-1 {
  font-size: var(--fontSize-body-1);
  line-height: var(--lineHeight-6);
}

.body-2 {
  font-size: var(--fontSize-body-2);
  line-height: var(--lineHeight-4);
}

.hero-text {
  display: none;
}

.body-3 { font-size: var(--fontSize-body-3); }

.body-4 { font-size: var(--fontSize-body-4); }

.label-1 { font-size: var(--fontSize-label-1); }

.label-2 { font-size: var(--fontSize-label-2); }

/* Reused Style */
.container { padding-inline: 16px; }

.separator {
  width: 8px;
  height: 8px;
  border: 1px solid var(--primary-clr);
  transform: rotate(45deg);
}

.hover-underline {
  position: relative;
  max-width: max-content;
}

.hover-underline::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0px;
  border-block: 1px solid var(--primary-clr);
  transform: scaleX(0.2);
  opacity: 0;
  transition: var(--transition-2);
}

.hover-underline:is(:hover, :focus-visible)::after {
  transform: scaleX(1);
  opacity: 1;
}

.text-center { text-align: center; }

.img-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.section {
  position: relative;
  padding-block: var(--section-space);
  overflow: hidden;
  z-index: 1;
}

.hover\:shine { position: relative; }

.hover\:shine::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background-image: linear-gradient(to right, transparent 0%, #fff6 100%);
  transform: skewX(-0.08turn) translateX(-180%);
}

.hover\:shine:is(:hover, :focus-within)::after {
  transform: skewX(-0.08turn) translateX(275%);
  transition: var(--transition-3);
}

.img-holder {
  aspect-ratio: var(--width) / var(--height);
  overflow: hidden;
  background-color: var(--eerie-black-4);
}

/* Back to Top */
.back-top-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: var(--primary-clr);
  color: var(--smoky-black-1);
  font-size: 22px;
  width: 50px;
  height: 50px;
  border-radius: var(--radius-circle);
  display: grid;
  place-items: center;
  box-shadow: var(--shadow-1);
  transition: var(--transition-1);
  opacity: 0;
  visibility: hidden;
  z-index: 4;
}

.back-top-btn:is(:hover, :focus-visible) {
  background-color: rgba(255, 255, 255, 0.55);
}

.back-top-btn.active {
  opacity: 1;
  visibility: visible;
}
/* IEEE Previous Releases */
.ieee-execom {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3rem 1rem;
  gap: 2rem;
}

.ieee-execom-h1 {
  font-size: 1.5rem;
    font-family: 'Kanit', sans-serif;
    text-align: center;
}

.universal-alignment {
  align-items: center;
  justify-content: center;
  text-align: center;
}

.ieee-execom-cards-container {
  display: flex;
  gap: 1.75rem;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.ieee-execom-card {
  display: flex;
  max-width: 100%;
  width: 80%;
  font-family: 'Kanit', sans-serif;
  gap: 0.5rem;
  flex-direction: column;
  background-color: #1E2125;
  border-radius: 2%;
  padding: 2rem 2rem;
}

.execom-profile-image img {
  height: 350px;
  border-radius: 2%;
}

.ieee-execom-text h1 {
  letter-spacing: 1px;
  font-weight: 600;
}

.ieee-execom-title {
  font-weight: 200;
  line-height: 2.5rem;
}

.prev-sec-btns {
    display: flex;
    margin-top: 1rem;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}

.prev-sec-btns > button {
  background-color: whitesmoke;
  border: none;
  color: var(--eerie-black-4);
  padding: 3px 8px;
  text-align: center;
  font-size: 1.5rem;
  border-radius: 3px;
}

.prev-sec-btns > button:hover {
  background-color: gray;
  transition: 250ms ease;
}

/* Footer Section */
.footer-sec {
  display: flex;
  flex-direction: column;
  padding: 1.5rem 1.5rem;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  gap: 3rem;
}

.footer-sec h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 3rem;
  margin-bottom: 1rem;
}

.footer-left {
  display: flex;
  gap: 1.5rem;
  flex-direction: column;
}

.ionicon-icon-size-medium {
  font-size: 2.75rem;
}

.ionicon-same-line:hover {
  color: grey;
  transition: 250ms ease;
}

.ionicon-same-line {
  display: flex;
  align-items: center;  
  justify-content: center;
  gap: 1rem;
}

.copyright-sec {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  text-align: center;
  font-size: 1.3rem;
  padding: 0.3rem 2rem;
}

/* Media Queries */
/* Responsive for larger than 575px screen */  
@media (min-width: 575px) {
  :root {
    --fontSize-body-2: 2.5rem;
  }
  /* Reused Style */
  :is(.service, .about) .section-text {
    max-width: 420px;
    margin-inline: auto;
  }

  .contact-number { --fontSize-body-1: 3rem; }
}

/* Responsive for larger than 768px screen */
@media (min-width: 768px) {
  .ieee-execom-h1 {
    font-size: 5rem;
    margin-bottom: 1.75rem;
  }

  .ieee-execom-card {
    max-width: auto;
    width: auto;
  }

  .execom-profile-image img {
    height: 450px;
  }

  .footer-sec {
    display: flex;
    flex-direction: row;
    padding: 1.5rem 1.5rem;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
  }

  .sunday-sec-logo img {
    width: 150px;
    margin-top: 3rem;
  }

}

/* Responsive for larger than 992px screen */
@media (min-width: 992px) {
  :root {
    --section-space: 100px;
  }

  .ieee-execom-h1 {
    font-size: 4.5rem;
    line-height: 4rem;
    margin-bottom: 1.75rem;
  }

}